<% layout('layouts/boilerplate') -%>
<body>
    <h3>All listing</h3>
    <ul>
        <%for(list of alllisting){%>
            <li><a href="/listings/<%=list._id %>"><%=list.title%></a></li>
        <%} %>
    </ul>
</body>