<% layout('layouts/boilerplate') -%>
<body>
    <h3>All listing</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        
        <%for(list of alllisting){%>
            <a href="/listings/<%=list._id %>" class="list-link">
                <div class="card col">
            <img class="card-img-top" src="<%=list.image.url%>" alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%=list.title%></b>
                    <br>
                    &#8377;<%=list.price.toLocaleString("en-IN")%>/night
                </p>
            </div>
        </div>
        <%} %>
            </a>
        
    </div>
</body>